<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Run Guidance</title>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>


    var data = [  { 'max': 1600.0,
                          'min': 1200.0,
                          'paths': [ [{'lat': 40.81, 'long': -73.95}, {'lat': 40.80, 'long': -73.95}],
                                     [{'lat': 10.81, 'long': -13.95}, {'lat': 10.80, 'long': -13.95}]
                                    ],
                          'distances': [12.5, 13.8]
                        },
                        { 'max': 2000.0,
                          'min': 1600.0,
                          'paths': [ [{'lat': 1.81, 'long': -2.95}, {'lat': 3.80, 'long': -4.95}],
                                     [{'lat': 5.81, 'long': -6.95}, {'lat': 7.80, 'long': -8.95}]
                                    ],
                          'distances': [30, 50.5]
                        }
                      ]



    var displayRandomRouteJSON = function(route_data){
        var random_range_index = getRandomInt(0, route_data.length-1);
        var chosen_range = route_data[random_range_index];
        var random_path_index = getRandomInt(0, chosen_range.paths.length-1);
        var selected_path = chosen_range.paths[random_path_index];
        var selected_path_distance = chosen_range.distances[random_path_index];
        document.getElementById('current_route').innerHTML = random_range_index+","+random_path_index+","+selected_path_distance + JSON.stringify(selected_path, null, 4);
    }

    function getRandomInt (min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

     var computePathsFresh = function(){
        $.getJSON("http://127.0.0.1:8000/polls/route_solutions/",
        {
           source_node_id: document.getElementById("start_list").value,
           dist_min: document.getElementById("amount-range-dist").value.split("-")[0],
           dist_max: document.getElementById("amount-range-dist").value.split("-")[1],
           elev_min_a: document.getElementById("amount-range-elev-min").value.split("-")[0],
           elev_min_b: document.getElementById("amount-range-elev-min").value.split("-")[1],
           elev_max_a: document.getElementById("amount-range-elev-max").value.split("-")[0],
           elev_max_b: document.getElementById("amount-range-elev-max").value.split("-")[1],
           csrfmiddlewaretoken:'{{ csrf_token }}'
        },
        function(data,status){
            if(data.warning === "okay"){
              displayRandomRouteJSON(data.route_data);
              document.getElementById("route_image").src="http://maps.googleapis.com/maps/api/staticmap?size=400x400&sensor=false&path=40.8108534898,-73.9506912231|40.8102038588,-73.9511632919|40.8095379805,-73.9516782761|40.8083523754,-73.9488136768|40.8090182656,-73.9483845234|40.8096841492,-73.9479231834|40.8108534898,-73.9506912231|40.8102038588,-73.9511632919|40.8095379805,-73.9516782761|40.808880216,-73.952139616|40.8082630483,-73.952600956";
              document.getElementById('whereToPrint').innerHTML = JSON.stringify(data.route_data, null, 4);
            } else {
              alert(data.warning);
            }
       })
        .fail(function(xhr) {
            console.log("Error: " + xhr.statusText);
            alert("Error: " + xhr.statusText);
        });
  }

  var updateSliderVals = function(slider_name, left_val, right_val){
        $( slider_name ).val( left_val + "-" + right_val);
  }

  $(function() {
    $( "#slider-range-dist" ).slider({
      step: 5,
      range: true,
      min: 300,
      max: 3000,
      values: [ 1200, 2000 ],
      change: function( event, ui ) {
        updateSliderVals("#amount-range-dist", ui.values[0], ui.values[1]);
        computePathsFresh();
      }
    });
    updateSliderVals("#amount-range-dist" , $("#slider-range-dist").slider("values", 0),
                                            $("#slider-range-dist").slider("values", 1)  );
  });

  $(function() {
    $( "#slider-range-elev-min" ).slider({
      step: 1,
      range: true,
      min: 0,
      max: 100,
      values: [ 0, 20 ],
      change: function( event, ui ) {
        updateSliderVals("#amount-range-elev-min" , ui.values[0], ui.values[1]);
        computePathsFresh();
      }
    });
    updateSliderVals("#amount-range-elev-min" , $("#slider-range-elev-min").slider("values", 0),
                                                $("#slider-range-elev-min").slider("values", 1)  );
  });

  $(function() {
    $( "#slider-range-elev-max" ).slider({
      step: 1,
      range: true,
      min: 0,
      max: 100,
      values: [ 10, 50 ],
      change: function( event, ui ) {
        updateSliderVals("#amount-range-elev-max" , ui.values[0], ui.values[1]);
        computePathsFresh();
      }
    });
    updateSliderVals("#amount-range-elev-max" , $("#slider-range-elev-max").slider("values", 0),
                                                $("#slider-range-elev-max").slider("values", 1)  );
  });



  </script>
</head>
<body>

<pre id=current_route></pre>

<select id="start_list" onchange="computePathsFresh()">
   <option value="-1" >Choose your starting coordinates</option>
   {% for n in nodes %}
       <option value="{{ n.node_id }}">{{ n.latit }}, {{ n.longit }}</option>
   {% endfor %}
</select>

<br></br>

<p>
  <label for="amount-range-dist">Distance range(meters):</label>
  <input type="text" id="amount-range-dist" style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range-dist"></div>

<p>
  <label for="amount-range-elev-min">Elevation min range(meters):</label>
  <input type="text" id="amount-range-elev-min" style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range-elev-min"></div>

<p>
  <label for="amount-range-elev-max">Elevation max range(meters):</label>
  <input type="text" id="amount-range-elev-max" style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range-elev-max"></div>

<img id="route_image" src="http://maps.googleapis.com/maps/api/staticmap?center=40.81085348983534,-73.95069122314453&zoom=14&size=400x400&maptype=roadmap&sensor=false">

<pre id=whereToPrint></pre>

</body>
</html>